#root {
  width: 100%;
}

section {
  margin: 0 auto;
  max-width: 50rem;
  padding: 2rem;
}

/* Tailwind overrides */
a {
  color: inherit !important;
  text-decoration: underline !important;
}


/* React flow overrides */
.react-flow__node {
  width: auto !important;
}

.react-flow__controls-button {
  background-color: white !important;
}
