#root {
  width: 100%;
}
.card {
  padding: 2em;
}

section {
  margin: 0 auto;
  max-width: 50rem;
  padding: 2rem;
}

.react-flow__node {
  width: auto !important;
}

.react-flow__controls-button {
  background-color: white !important;
}
